/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light-gray: hsl(212, 45%, 89%)
- Grayish-blue: hsl(220, 15%, 55%)
- Dark-blue: hsl(218, 44%, 22%) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  padding: 2rem;
  border-radius: 2rem;
  grid-area: 2/2/3/3;
}

#qr-code {
  border-radius: 1rem;
}

.p-header {
  font-size: 2.3rem;
  font-weight: 700;
  padding: 2rem;
}

.p-paragraph {
  color: hsl(220, 15%, 55%);
  padding: 1.5rem;
  font-size: 1.6rem;
}
