* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  grid-area: 3/1/4/4;
  align-self: end;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  aspect-ratio: 6/9;
  padding: 2rem;
  border-radius: 2rem;
  grid-area: 2/2/3/3;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  justify-self: center;
}

#qr-code {
  border-radius: 1rem;
}

.p-header {
  color: hsl(218, 44%, 22%);
  font-size: 2.3rem;
  font-weight: 700;
  padding-top: 3rem;
  margin: 0.1rem;
  letter-spacing: 0.1rem;
}

.p-paragraph {
  color: hsl(220, 15%, 55%);
  padding: 2rem;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
